body {
  --grid-container-border-color: 1px solid rgba(0, 0, 0, 0.09);
  --grid-container-border-width: 1px 0;

  --grist-background-color: var(--main-section-background-color);
  --grist-title-margin: 0 0 0 10px;
  --grist-title-border: none;
  --grist-title-font: bold 16px var(--theme-font);
  --grist-title-color: var(--secondary-color);
  --grist-title-font: bold 16px var(--theme-font);
  --grist-title-icon-color: var(--primary-color);
  --grist-title-icon-margin: 0 3px 2px 0;
  --grist-title-icon-size: var(--fontsize-default);
  --grist-title-with-grid-padding: 0;

  --grist-object-editor-font: normal 1em var(--theme-font);
  --grist-object-editor-color: var(--secondary-color);

  --grist-input-zoom: 1;
  --grist-input-progress-border: 1px solid rgba(255, 255, 255, 0.5);
  --grist-input-progress-background: rgba(121, 110, 110, 0.1);
  --grist-input-progress-bar-background: #4ac5fd;
  --grist-input-progress-bar-color: var(--theme-white-color);

  --grid-header-background-color: transparent;
  --grid-header-top-border: 2px solid rgba(var(--secondary-color-rgb), 0.7);
  --grid-header-bottom-border: var(--grid-container-border-color);
  --grid-header-border-color: rgba(var(--primary-color-rgb), 0.3);
  --grid-header-padding: var(--padding-default) 0 var(--padding-narrow) var(--padding-default);
  --grid-header-sorter-size: 18px;
  --grid-header-splitter-border: var(--grid-container-border-color);
  --grid-header-splitter-border-hover: 1px solid var(--primary-color);
  --grid-header-color: rgba(var(--secondary-color-rgb), 0.8);
  --grid-header-font: bold var(--fontsize-small) var(--theme-font);
  --grid-header-filter-title-color: var(--primary-text-color);
  --grid-header-filter-title-font: normal 12px var(--theme-font);
  --grid-header-filter-title-icon-color: var(--primary-color);

  --grid-record-background-color: var(--theme-white-color);
  --grid-record-odd-background-color: rgba(255, 255, 255, 0.4);
  --grid-record-padding: var(--padding-default) 0 var(--padding-default) var(--padding-default);
  --grid-record-color: var(--secondary-color);
  --grid-record-color-hover: var(--primary-color);
  --grid-record-wide-fontsize: var(--fontsize-small);
  --grid-record-selected-background-color: #f1f8e9;
  --grid-record-selected-color: var(--grid-record-color);
  --grid-record-focused-background-color: rgba(var(--primary-color-rgb), 0.2);
  --grid-record-focused-border: 1px solid var(--primary-color);
  --grid-record-focused-cell-background-color: rgba(var(--primary-color-rgb), 0.25);
  --grid-record-focused-cell-border: 1px dashed var(--primary-color);
  --grid-record-focused-color: var(--grid-record-color);
  --grid-record-focused-box-shadow: 0px 2px 0px 0px rgb(0 0 0 / 10%);
  --grid-record-emphasized-background-color: var(--primary-color);
  --grid-record-emphasized-color: var(--theme-white-color);
  --grid-record-editing-background-color: var(--theme-white-color);
  --grid-record-editing-border: 1px dashed rgba(var(--primary-color-rgb), 0.4);
  --grid-record-fontsize: var(--fontsize-large);
  --grid-record-border-bottom: var(--grid-container-border-color);

  --grid-record-dirty-border-top: 24px solid rgba(var(--primary-color-rgb), 0.6);
  --grid-record-dirty-border-left: 24px solid transparent;
  --grid-record-dirty-icon-font: bold 10px/12px var(--mdc-icon-font, 'Material Icons');
  --grid-record-dirty-icon-size: var(--fontsize-large);
  --grid-record-dirty-color: var(--theme-white-color);

  --grid-footer-background-color: transparent;
  --grid-footer-font-size: var(--fontsize-default);
  --grid-footer-color: var(--secondary-color);
  --grid-footer-limit-color: rgba(var(--secondary-color-rgb), 0.6);
  --grid-footer-inactive-color: var(--grid-footer-limit-color);
  --grid-footer-padding: var(--padding-default) var(--padding-narrow);

  --data-list-background-color: var(--main-section-background-color);
  --data-list-item-margin: var(--margin-default) 0 var(--margin-default) var(--margin-wide);
  --data-list-item-padding: var(--padding-default) var(--padding-wide);
  --data-list-item-border-bottom: var(--grid-container-border-color);
  --data-list-item-name-font: bold 1em/1em var(--theme-font);
  --data-list-item-name-color: var(--secondary-color);
  --data-list-item-disc-font: normal 0.9em/1em var(--theme-font);
  --data-list-item-disc-color: var(--secondary-text-color);
  --data-list-item-etc-label-font: bold 1em/1em var(--theme-font);
  --data-list-item-etc-font: normal 0.8em/1em var(--theme-font);
  --data-list-item-etc-color: #585858;
  --data-list-item-icon-font: normal 1em/1em;
  --data-list-item-icon-color: var(--secondary-text-color);
  --data-list-selected-background-color: var(--grid-record-selected-background-color);
  --data-list-fab-position-horizontal: 15px;
  --data-list-fab-position-vertical: 15px;
  --data-list-fab-color: var(--primary-color);
  --data-list-fab-shadow: var(--box-shadow);

  --data-card-background-color: var(--main-section-background-color);
  --data-card-record-card-background-color: var(--theme-white-color);
  --data-card-record-card-border: var(--border-dark-color);
  --data-card-record-card-border-hover: 1px solid var(--primary-color);
  --data-card-record-card-boxshadow-hover: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
  --data-card-record-card-selected-border: 1px solid var(--primary-color);
  --data-card-record-card-border-radius: var(--border-radius);
  --data-card-item-margin: var(--margin-default) 0 var(--margin-default) var(--margin-wide);
  --data-card-item-padding: var(--padding-default) var(--padding-wide);
  --data-card-item-border-bottom: var(--grid-container-border-color);
  --data-card-item-name-font: bold 1.2em/1em var(--theme-font);
  --data-card-item-name-color: var(--secondary-text-color);
  --data-card-item-name-label-font: normal 0.65em/0.8em var(--theme-font);
  --data-card-item-name-label-color: rgba(var(--secondary-color-rgb), 0.8);
  --data-card-item-disc-font: normal 0.9em/1em var(--theme-font);
  --data-card-item-disc-color: var(--primary-color);
  --data-card-item-etc-label-font: normal 1em/1em var(--theme-font);
  --data-card-item-etc-font: bold 0.8em/1em var(--theme-font);
  --data-card-item-etc-color: var(--secondary-color);
  --data-card-item-icon-font: normal 1em/1em;
  --data-card-item-icon-color: var(--secondary-text-color);
  --data-card-item-btn-border: var(--border-dark-color);
  --data-card-item-btn-border-radius: var(--border-radius);
  --data-card-item-btn-padding: var(--padding-narrow);
  --data-card-selected-background-color: var(--grid-record-selected-background-color);
  --data-card-fab-position-horizontal: 15px;
  --data-card-fab-position-vertical: 15px;
  --data-card-fab-color: var(--primary-color);
  --data-card-fab-shadow: var(--box-shadow);
  --data-card-template: repeat(3, minmax(auto, 100%));
  --data-card-thumbnail-height: 140px;
  --data-card-thumbnail-border-bottom: var(--border-dark-color);
  --data-card-attachimg-height: 70px;

  --record-view-background-color: var(--main-section-background-color);
  --record-view-gap: var(--margin-narrow) 0;
  --record-view-padding: var(--padding-default);
  --record-view-label-font: bold 15px var(--theme-font);
  --record-view-label-color: var(--secondary-color);
  --record-view-label-icon-size: var(--fontsize-small);
  --record-view-font: normal 15px var(--theme-font);
  --record-view-color: var(--secondary-color);
  --record-view-focus-color: var(--primary-color);
  --record-view-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  --record-view-edit-border-bottom: 2px solid var(--primary-color);
  --record-view-item-padding: var(--padding-default);

  --record-view-footer-background: #586272;
  --record-view-footer-button-border: 1px solid rgba(0, 0, 0, 0.3);
  --record-view-footer-button-border-width: 0 0 0 1px;
  --record-view-footer-button-font: 17px;
  --record-view-footer-button-color: var(--theme-white-color);
  --record-view-footer-iconbutton-size: 35px;
  --record-view-footer-focus-background: var(--primary-color);

  --ox-grist-padding: var(--padding-default) var(--padding-default) 0 var(--padding-default);
}

@media print {
  body {
    --grist-input-zoom: 0.7;
  }
}

@media only screen and (max-width: 460px) {
  body {
    --record-view-label-font: bold 15px/32px var(--theme-font);
    --record-view-font: normal 15px/32px var(--theme-font);
    --data-card-template: repeat(1, minmax(auto, 100%));
    --ox-grist-padding: 0;
  }
}
@media (min-width: 461px) and (max-width: 700px) {
  body {
    --data-card-template: repeat(2, minmax(auto, 100%));
    --ox-grist-padding: 0;
  }
}
@media (min-width: 461px) and (max-width: 1024px) {
  body {
    --data-card-create-form-padding: 7px;
  }
}
@media (min-width: 1025px) and (max-width: 1400px) {
  body {
    --data-card-template: repeat(4, minmax(auto, 100%));
  }
}
@media (min-width: 1401px) and (max-width: 1800px) {
  body {
    --data-card-template: repeat(5, minmax(auto, 100%));
  }
}
@media (min-width: 1801px) and (max-width: 2200px) {
  body {
    --data-card-template: repeat(6, minmax(auto, 100%));
  }
}
@media only screen and (min-width: 2201px) {
  body {
    --data-card-template: repeat(7, minmax(auto, 100%));
  }
}
